// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.newRecipeButton {
    padding: 10px 25px 10px 25px;
    background-color: grey;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.newRecipeButton:hover {
    background-color: rgb(132, 0, 255);
}
